body{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cartheader{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid black;
  padding: 0px;
}
.cartheader p{
  font-weight: bold;
  font-size: 16px;
}
.freetoken{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  border: 0.3px solid green;
  padding: 3px 6px;
  height: 28px;
}
.freetoken .free{
  color:green;
  font-size:14px;
  font-weight: 200px;
}
.freetoken .limited{
   font-size:14px;
  font-weight: 200px;
}
.option{
  display: flex;
  align-items: center;
  gap:5px;
}
.option .all,
.selected{
  display: flex;
  align-items: center;
  border: 0.6px solid black;
  border-radius:20px;
  padding: 5px 10px;
}
.cartitems{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cartproductcard{
  display: flex;
  gap:6px;
  height: 120px;
  align-items: center;
  margin: 7px;
}
.cartproductimage{
  width:140px;
  height: 140px;
  border-radius:3px;
}
.cartproductimage img{
  height: 100%;
  width:100%;
  object-fit: cover;
}
.cartproductdetails{
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.cartproductdetails .appliedpromo span{
  font-weight: 570;
}
.cartproductdetails .title{
  font-weight:270;
  font-size: 15px;
}
.cartproductdetails .appliedpromo{
  font-weight:370;
  font-size: 15px;
}
.cartproductdetails h3{
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  font-weight: 400;
}
.cartproductdetails .previous{
  text-decoration-line: line-through;
  color:#F08080;
}

.cartproductcounter{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.cartproductcounter .decrement,
.increment{
  font-weight: bold;
  color:gray;
  font-size: 22px;
}
cartproductcounter .decrement,
.increment:hover{
  filter: brightness(0.6)
}
.cartproductcounter .count{
  border:0.6px solid gray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
}
